<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>FOOD</title>

<style>
body {
	background-image: url("../static/img/bb8.png");
	border-image-width: 600;
	padding-left:50px;
	padding-right:50px;
}
h3{
	background-color: skyblue;
}

</style>
</head>
<body>
<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
<center><img src="/static/img/c1.jpg" width=800/><br></center>
<center><h2><a href="/addres" class="btn btn-primary ml-2"> Resorts</a> &nbsp 
<a href="/addgm" class="btn btn-primary ml-2"> Games</a> &nbsp  
<a href="/addtime" class="btn btn-primary ml-2">Park Timings</a> &nbsp  
  <a href="/addtic" class="btn btn-primary ml-2">Tickets</a> &nbsp  
 <a href="/addoff" class="btn btn-primary ml-2"> Offers</a> &nbsp  
  <a href="/addfd" class="btn btn-primary ml-2"> Food</a> &nbsp 
  <a href="{{url_for('addcmp')}}" class="btn btn-primary ml-2"> Lost anything?</a> &nbsp 
 <a href="{{url_for('addreg')}}" class="btn btn-primary ml-2"> Sign Up</a> &nbsp   
 <a href="{{url_for('login')}}" class="btn btn-primary ml-2"> Login</a></h2>
<h3><b><u>FOOD</u></b></h3>
<img src="/static/img/food1.jpg"width=500/></center>

<br><b>JUST DON'T DROOL,EAT IT!!!!!!</b><br>


<br><h3>SOUTH INDIAN MEAL</h3><br>
<img src="/static/img/sim3.jpg"width=300/><br>

<b>BREAKFAST MENU</b><br>
<p>1.IDLY AND VADA</p>
<p>2.MASALA DOSA</p>
<P>3.UPMA</P>
<P>4.PONGAL</P>
<P>5.BISIBELEBATH</P>
<P>6.PULAV</P>

<img src="/static/img/ragimudhe.jpg."width=300/>

<br><b>LUNCH MENU</b><br>
<P>1.MEALS WITH CHAPATI</P>
<P>2.MEALS WITH RAGI BALL</P>


<br><b>SUPPER MENU</b><br>
<P>1.ANDHRA MEALS</P>
<P>2.MEALS WITH CHAPATI</P>
<P>3.MEALS WITH RAGI BALL</P>


<br><h3><b>NORTH INDIAN MEAL</b></h3><br>
<img src="/static/img/north3.jpg."width=300/>

<br><b>BREAKFAST MENU</b><br>
<p>1.GOBI PARATHA</p>
<p>2.CHOLE BHATURE</p>
<P>3.DAL KACHORI</P>
<P>4.POHA</P>
<img src="/static/img/north2.jpg."width=300/>

<br><b>LUNCH MENU</b><br>
<P>1.MEALS WITH ROTI</P>
<P>2.NON-VEG MEALS</P>


<br><b>SUPPER MENU</b><br>
<P>1.ANDHRA MEALS</P>
<P>2.MEALS WITH ROTI</P>
<P>3.VEG-BIRYANI AND KULCHA</p>

<b><h1>Any Food at 300 Rs</h1></b>
 <footer><br><p align="right"><b>CONTACT  US AT 9876541320</footer>
</body>
</html>