<!DOCTYPE html>
<html>
<head>
<meta charset="uff-8">
<title>GAMES</title>
<style>
body {
	background-image: url("../static/img/qbkls.png");
	border-image-width: 600;
	padding-left:50px;
	padding-right:50px;
}
</style>
</head>
<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
<center><img src="/static/img/c1.jpg" width=800/><br></center>
<center><h2><a href="/addres" class="btn btn-primary ml-2"> Resorts</a> &nbsp 
<a href="/addgm" class="btn btn-primary ml-2"> Games</a> &nbsp  
<a href="/addtime" class="btn btn-primary ml-2">Park Timings</a> &nbsp  
  <a href="/addtic" class="btn btn-primary ml-2">Tickets</a> &nbsp  
 <a href="/addoff" class="btn btn-primary ml-2"> Offers</a> &nbsp  
  <a href="/addfd" class="btn btn-primary ml-2"> Food</a> &nbsp 
  <a href="{{url_for('addcmp')}}" class="btn btn-primary ml-2"> Lost anything?</a> &nbsp 
 <a href="{{url_for('addreg')}}" class="btn btn-primary ml-2"> Sign Up</a> &nbsp   
 <a href="{{url_for('login')}}" class="btn btn-primary ml-2"> Login</a></h2><br>
<h2><u>DRY GAMES</u></h2></center>
<h2>Roller Coaster</h2>
<p>it is a thrill game.The roller coaster will take you to the height of 40m from the ground.hence it is only preferred to folks of age above 15</P>
<img src="/static/img/rollercoaster2.jpg" width=400/>

<h2>Pirate ship</h2>
<p>This game is not for the weak hearted fellows.it will take you to an arc of 180 degree with sudden to and fro motion</P>
<img src="/static/img/pirateship.jpg" width=400/>


<h2>Net walk</h2>
<p>It is siutable for younger fellows but can also be played by the older ones.It will make you to walk through the net where maintaining balance is atmost important</P>
<img src="/static/img/nwalk.jpg" width=400/>


<h2>Sky wheel</h2>
<p>It is suitable for the people of age above 10.As name suggests the whole creature is like a wheel and it will be an enthralling ride with complete excitement</p>
<img src="/static/img/skywheel1.jpg" width=400/>


<h2>Dashing car</h2>
<p>it provides sublime happiness to the kids where they can happily clash with their friends with no harm.It is only for kids below 15 years of age</p>
<img src="/static/img/dashingcar1.jpg" width=400/>


<h2>Dungeon Ride</h2>
<p>It is a haunted house game.you will be taken inside a haunted house where will make you to fear.It's left for your strength to freak out amid this, just enjoy the haunted house</p>
<img src="/static/img/dungeonride.jpg" width=400/>



<h2>Cinemagic 3D</h2>
<p>It gives you the essence of virtual reality with HD-3D vedio,effective sound system and adjustable hydraulic seats.With the amazing 3D effect it takes you to the another visual world</p>
<img src="/static/img/3dcinema.jpg" width=400/>>


<h2>Magic Mushroom</h2>
<p>It is mainly for the kids below 15 years of age.They will get the essence of sitting on the horse and enjoying it's ride which will be circling them</p>
<img src="/static/img/mushroom.jpg" width=400/>


<h2>Mixer</h2>
<p>The capsule that you are locked in will move in all possible directions.This will make you to feel that you are locked in any blender.It's suitable for people of age above  15 years</p>
<img src="/static/img/maxres1.jpg" width=400/>



<h1><u>WET GAMES</u></h1>
<h2>Jungle Lagoon</h2>
<p>It's a family entertainer.Center of attraction for all kids.It provides you the sublime thrill in water</p>
<img src="/static/img/junglelagoon.jpg" width=400/>


<h2>Lazy River</h2>
<p>It is the funniest game.It is called as "lazy" because you will be easily drifted by water and you can just the enjoy the slow movement in water</p>
<img src="/static/img/lazyriver.jpg" width=400/>


<h2>Boomerang</h2>
<p>It is a water ride.Initially you will move in a closed tunnel and then suddenly you will be dropped from certain height and then which keeps on moving to and fro</p>
<img src="/static/img/boomerang.jpg" width=400/>>


<h2>Fun Racers</h2>
<p>It is a water slide where you will be lying down on a rubber mat.You will come downward by sliding and suddenly splash into water</p>
<img src="/static/img/funracers1.jpg" width=400/>


<h2>Twisters</h2>
<p>The capsule that you are locked in will move in all possible directions.This will make you to feel that you are locked in any blender.It's suitable for people of age above  15 years</p>
<img src="/static/img/twisters.jpg" width=400/>


<h2>Wave Pool</h2>
<p>The timings for wave pool is from 3.30 pm to 4.30 pm.It will give you the essence of playing in seas along with waves.As you move forward the depth of pool increases</p>
<img src="/static/img/wavepool.jpg" width=400/>>


<h2>Rain Disco</h2>
<p>It is a indoor like game.As name suggests warm water will be showered with music and flickering laser ligths.It is a wild game where you can dance with warm water and music</p>
<img src="/static/img/raindisco.jpg" width=400/>



<h2>Kayaking</h2>
<p>It is just moving across the water.It will give you the boating experience.The safety jacket along with oars will be provided to you to ensure your safety and depth of the water will not be much.</p>
<img src="/static/img/kayaking.jpg" width=400/>


<h2>Wavy And Vertical Fall</h2>
<p>It is similar to the twisters but there will be no loops to slow you down.It will be too steepy and at the end you will come and splash the water with maximum speed</p>
<img src="/static/img/wv.jpg" width=400/>
 <footer><br><p align="right"><b>CONTACT  US AT 9876541320</footer>
 </body>
 </html>


