<!DOCTYPE html>
<html>
<head>
<meta charset="uff-8">
<title>Resorts</title>
<style>
body {
	background-image: url("../static/img/bb8.png");
	border-image-width: 600;
	padding-left:50px;
	padding-right:50px;
}
h3{
	background-color: skyblue;

}
h4{
	background-color:pink;
}
</style>
</head>
<body>
<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
<center><img src="/static/img/c1.jpg" width=800/><br></center>
<center><h2><a href="/addres" class="btn btn-primary ml-2"> Resorts</a> &nbsp 
<a href="/addgm" class="btn btn-primary ml-2"> Games</a> &nbsp  
<a href="/addtime" class="btn btn-primary ml-2">Park Timings</a> &nbsp  
  <a href="/addtic" class="btn btn-primary ml-2">Tickets</a> &nbsp  
 <a href="/addoff" class="btn btn-primary ml-2"> Offers</a> &nbsp  
  <a href="/addfd" class="btn btn-primary ml-2"> Food</a> &nbsp
  <a href="{{url_for('addcmp')}}" class="btn btn-primary ml-2"> Lost anything?</a> &nbsp 
  <a href="{{url_for('addreg')}}" class="btn btn-primary ml-2"> Sign Up</a> &nbsp   
 <a href="{{url_for('login')}}" class="btn btn-primary ml-2"> Login</a></h2><br><br>
<h3>RESORTS</h3></center>


<h4>The Red Earth Resort</h4><br>
<img src="/static/img/resort3.jpg" width=400/><br>
<b>lavishness will not bring you tranquility</b>
<p>One of the finest resorts which will comfort you like home.You will enjoy the serenity and beauty of the resort and the nature around it.if you are really a nature lover and looking forward to stay in such a place then "the red earth" is the best.the cost of staying here per day per person is 5,000.The facilities provided are breakfast,lunch and supper which will be available in both north and south indian style.</p><br>

<h2>The Oberoi</h2><br>
<img src="/static/img/resort1.jpg" width=400/><br>
<b>luxury comforts you</b>
<p>one of the luxurious resorts which will comfort you more than a home.your solitude will not be touched here forever.The best place to spend your vacation with your loved ones.the cost of staying here perday per person will be 20,000.The breakfast,lunch,supper will be provided in north and south indian style,caribbean,chinese,french and italian styles.The other facilities are children's play area,swimming pool,conference room.</p>
<footer><br><p align="right"><b>CONTACT  US AT 9876541320</footer>
</body>
</html>